*{height: auto; margin:0; padding:0; font-family:"微软雅黑";}
body{min-width:1200px;}
li{ list-style: none;}
a{text-decoration:none;}
#header .left{
	float:left;
}
#header .right{
	float:right;
	width:600px;
}
#header nav{
	background-color: #fff;
	height:62px;
	line-height: 62px;
}
#header nav h1{
	width:70px; 
	font-size:20px;
	color:#777;
	background:url(../images/logo.png) no-repeat center;
	background-size:32px;
	padding-left:120px;
}
#header nav ul{
	width:700px;
	padding-right: 50px;
}
#header nav ul li{
	display: inline-block;
	padding:0 20px;
}
#header nav ul li a{ 
	font-size:14px; 
	display:block; 
	height:57px;
	color:#393a3a;
	color:#777;
}
#header nav .mark_1{
	border-bottom: 4px solid #ED8476;
}
#header nav .mark_2{
	color:#ED8476;
}
#header nav ul li > a:hover{
	color:#999;
}
#header nav .login{
	background:url(../images/login.png) no-repeat left;
	color:#ED8476;
	padding-left:30px;
	margin-right: 10px;
}
/* banner css */
#header .banner{
	background: url(../images/bg.jpg) no-repeat center;
	height:690px;
	position:relative;
	width:100%;
	background-size:100%
}
#header .banner h1,h2,button{
	position:absolute;
	color:#fff;
}
#header .banner h1{
	margin: 220px 100px;
	font-size: 65px;
	font-weight: 100;
}
#header .banner h2{
	margin: 300px 100px;
	font-size: 20px;
	font-weight: 100;
	padding-top: 20px;
}
#header .banner button{
	margin:410px 100px;
	width:333px;
	height:66px;
	border:none;
	background:#E7504D;
	font-size:30px;
}
/* tntroduce css */
#header .introduce{
	height:250px;
	background:#fff;
}
.list_1{ background:url(../images/list_1.png) no-repeat center;}
.list_2{ background:url(../images/list_2.png) no-repeat center;}
.list_3{ background:url(../images/list_3.png) no-repeat center;}
.list_4{ background:url(../images/list_4.png) no-repeat center;}
#header .introduce ul li{
	width:24%;
	text-align: center;
	display: inline-block;
	margin-top: 10px;
	height:100px;
	padding-top:50px;
}
#header .introduce .line{
	border-right:2px solid #999;
	font-size:14px;
	margin-top:80px;
	color:#777;
}
#header .introduce .line_no{
	border:none;
}
/* containtent first css */
#container .con_1{
	height:360px;
	background:url(../images/logo.png) no-repeat center #EDEDEC;
	text-align: center;
}
#container .con_1 p{
	padding-top: 250px;
	font-size: 50px;
	color:#777;
}
#container .con_2 {
	height:340px;
	background:url(../images/map.jpg) no-repeat center;
	text-align:center;
	color:#fff;
	background-size:100% 
}
#container .con_2 .title_1{
	font-size:20px;
	padding-top:50px;
}
#container .con_2 .line_1{
	width:30px;
	height:2px;
	margin:10px auto;
	background:#fff;
}
#container .con_2 .title_2{
	font-size:12px;
	color:#fff;
	line-height: 50px;
}
#container .con_2 .select{
	width:1140px;
	height:35px;
	margin: 50px auto;
}
#container .con_2 .item{
	width:230px;
	height:35px;
	line-height:35px;
	color:#777;
	font-size:12px;
	padding-left:5px;
	text-align:left;
	background:url(../images/down.jpg) no-repeat scroll 95% 50% #fff;
	cursor: pointer;
	float:left;
	border:1px solid #CF5F59;
	margin-left:35px;
}
#container .con_2 .item .item_select{
	position:relative;
	left:-6px;
	width:235px;
	height:auto;
	border:1px solid #CF5F59;
	background-color:#E3E3E4;
}
#container .item .item_select ul li{ 
	padding-left:30px;
}
#container .item .item_select ul li a{
	color:#777;
}
#container .item .item_select ul li:hover{
	background:#C14B47 url(../images/down.jpg) no-repeat scroll 10px 50%;
}
#container .con_2 .sousuo{
	background:none #BE4F48;	
	border:none;
	color:#fff;
	text-align:center;
}
#container .con_2 .sousuo:hover{
	background:#CF5F59;
}
/* activity css */
#container .activity{
	background: #f7f7f7;
	height:500px;
	padding-top:150px;
}
#container .activity .city{
	display:inline-block;
	text-align:center;
	line-height:30px;
	width:24%;
}
#container .activity .city img{ 
	padding:10px;
	border:1px solid #ddd;
}
#container .activity .city h4{
	font-size:16px;
	color:#333;
	font-weight:200;
}
#container .activity .city h5{ 
	font-size:14px;
	color:#999;
	font-weight:100;
}
/* newtime css */
#container .newtime{
	height:566px;
	background:url(../images/newtime.png) no-repeat left;
	position:relative;
	background-size:68%
}
#container .newtime .left{
	text-align: center;
	height:566px;
	width:1000px;
}
#container .newtime .left .mark_1{
	font-size:50px;
	color:#fff;
	padding-top: 40px;
	padding-left: 250px;
}
#container .newtime .left .mark_2{
	font-size:200px;
	color:#fff;
	padding-left: 250px;
}
#container .newtime .left .mark_3{
	font-size: 40px;
	color:#fff;
	padding-left: 250px;
}
#container .newtime .right{
	width:30%;
	text-align:center;
	position:absolute;
	right:0;
	top:150px;
}
#container .newtime .right h1{
	font-size:20px;
}
#container .newtime .right h1 span{
	color:#C00;
	font-size:16px;
	padding-left:5px;
}
#container .newtime .right p{
	width:300px;
	margin:0 auto;
	text-align:left;
	line-height:35px;
	padding-top:40px;
	font-size:14px;
	color:#666;
}
#container .newtime .right a{
	width:100px;
	height:30px;
	border:2px solid #E46868;
	color:#E46868;
	display:block;
	margin:0 auto;
	margin-top:50px;
	line-height:30px;
}
#container .newtime .right ul{
	margin-top:40px;
}
#container .newtime .right ul li{
	width:10px;
	height:10px;
	border-radius:50px;
	border:1px solid #999;
	margin:0 5px;
	display:inline-block;
}
#container .newtime .right .mark_4{
	background-color:#808080;
}
/* newera css */
#container .newera{
	position:relative;
}
#container .newera .right{
	background:url(../images/newworld.png) no-repeat center;
	background-size:100%;
	position:absolute;
	top:0;
	right:0;
}
#container .newera .left,.middle,.right{
	height:522px;
	width:32%;
	display:inline-block;
	text-align:center;
}
#container .newera .eraCon{
	padding-top: 150px;
}
#container .newera .left{
	background-color:#FF6347;
}
#container .newera .middle{
	background-color:#fff;
}
#container .newera .left p{
	font-size:20px;
	color:#fff;
	line-height:35px;
}
#container .newera .middle p{
	font-size:20px;
	line-height:35px;
}
#container .newera a{
	display:block;
	margin:0 auto; 
	width:180px;
	height:40px;
	line-height:40px;
	margin-top:40px;
}
#container .newera .left a{
	border:2px solid #fff;
	color:#fff;
}
#container .newera .middle a{
	border:2px solid #E7504D;
	color:#E7504D;
}
#container .newera .line_1{
	width:40px;
	height:2px;
	margin:20px auto;
}
#container .newera .left .line_1{
	background: #fff;
}
#container .newera .middle .line_1{
	background: #808080;
}
/*last volunteer*/
#container .last .title{
	text-align:center;
	padding:100px 0;
}
#container .last .title p{
	width:500px;
	font-size:12px;
	color:#666;
	margin:10px auto;
	line-height:20px;
}
#container .last .line_1{
	width:40px;
	height:2px;
	margin:10px auto;
	background:#c00;
}
#container .information{
	height:450px;
	width:1100px;
	margin:0 auto;
}
#container .information .inf_left{
	float:left;
}
#container .information .inf_left ul li{
	width:350px;
	height:130px;
}
#container .information .inf_left .getblod{
	font-size:18px;
}
#container .information .inf_left .getcol{
	font-size:12px;
	color:#aaa;
	line-height: 20px;
	margin-top: 20px;
}
#container .information .inf_left a{
	background: url(../images/more.png) no-repeat left;
	padding-left:15px;
	color:#aaa;
	float:right;
}
#container .information .inf_right{
	float:right;
}
#container .information .inf_right form{
	width:635px;
}
#container .information .inf_right input{
	width:295px;
	height:40px;
	border:none;
	background-color:#EDEDEE;
	margin:10px 5px;
	padding-left:10px;
}
#container .information .inf_right textarea{
	width:97%;
	height:100px;
	background-color:#EDEDEE;
	border:none;
	margin:5px;
	font-size:14px;
	padding-left:10px;
}
#container .information .inf_right .sub{
	width:100%;
	font-size: 16px;
}
footer{
	text-align:center;
	width:100%;
	height:400px;
	background-color:#778899;
	color:#fff;
}
footer .mark_5{
	padding-top:80px;
	font-size: 30px;
	padding-bottom: 10px;
}
footer .mark_6{
	width:600px;
	margin:0 auto;
	line-height: 20px;
}
footer form{
	width:595px;
	line-height:80px;
	margin:0 auto;
}
footer form input{
	border:none;
}
footer form input[type="email"]{
	width:500px;
	height:40px;
	padding-left:10px;
	font-size: 16px;

}
footer form input[type="submit"]{
	width:80px;
	height:40px;
	background:#696266;
	color:#fff;
	cursor:pointer;
	font-size: 16px;
}
footer ul li{
	display:inline-block;
	padding:20px;
	margin:10px 0;
}
footer .foot{
	width:100%;
	height:60px;
	background-color:#667788;
}
footer .foot .foot_l{
	float:left;
	padding:20px 0 0 100px;
}
footer .foot .foot_r a{
	float:right;
	padding:20px 100px 0 0;
	color:#fff;
}